
.App {
  text-align: center;
  
}


/* the input form and submit button where we type the message */
.MuiSvgIcon-colorPrimary {
  color: red !important;
  /* margin-left: auto; */
  position: absolute;
  right: 10px;
  margin:20px;
}
.app__form{
  padding:10px;
  position: fixed;
  bottom:0px;
  z-index:1;
  background-color: #cfcfcf;
  width:50%;
  margin:10px;
  border-radius: 10px;
}

.app_form__center{
  display:flex;
  justify-content: flex-end;
}

.app__formControl{
  display: flex !important;  /*stopping material ui to override this*/
  flex-direction : row !important;              
  }

  .app__input{
    flex:1;
  }

  .app__iconButton{
    flex:0;
  }